body{

  background-image:url('../images/2-fon-svetlyy-kristaly.png');
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color:#000000;
  min-width: 768px;

}
img{
  max-width: 100%;
  height: auto;
}
h3{
  font-size: 24px;
  font-weight: 700;

}

body .container-fluid{
  padding-bottom: 10px;
   
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #responsive-menu{
  padding-top: 57px;
  float: right;
}
}




/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #responsive-menu{
  float:none !important;
  
}}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}



.glyphicon{
  padding-right: 5px;
  color:#FFBE03;
}



/*=====================navigation-top-menu begin========================================*/

.badge .glyphicon{
  color: #ffffff;
}
.navbar-brand{
  
  height:auto;
}



.navbar-default .navbar-nav > li > a{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar{
  background-color: #ffffff;
}

.navbar-nav > li.active-link > a{
  border-bottom: 2px solid #d42819;

}

.col-xs .navbar-nav > li.active-link > a{
  border-bottom: none;

}

.navbar-nav > li > a:hover{
  
  background-color: #FFBE03;
}

#responsive-menu li:hover {
  
  background-color: #FCF8E3;

  
   transition: 0.5s;
   cursor: pointer;
}

.dropdown-menu > li:hover{
  background-color: #FFBE03;

}
.container-fluid .navbar span.badge {
  background-color: #E14747;
  position: relative;
  top: -2px;
}
/*=====================navigation-top-menu end========================================*/

/*=====================content begin========================================*/
.do-red{
  background-color: #FFAEA0;
}

.do-yellow{
  background-color: #FCF8E3;
}
 #undernav-title{
  height:auto;
  background-color: #DCDBDB;
  
  border-top: 2px solid #FFB2A5;
}
th {
  text-align:center;
}
#undernav-title h1{
  margin: 5px 25%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}
content .container-fluid#main_content_block{
 
  background-color: #fff;

}


table, th, td {
  border: 1px solid #000000;
  padding: 5px;


}

table{
  min-width: 400px;
}

.cool{
  border-collapse:collapse;
  
  margin-left:5px;
 
  text-align: center;

  
}


/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
    display: none;
}
/* вид текста label */
.hide + label {
    margin: 0;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    margin-left: 4px;
    padding: 2px;
    position: relative;
    /* чуточку анимации при появлении */
     -webkit-animation:fade ease-in 0.5s; 
     -moz-animation:fade ease-in 0.5s;
     animation:fade ease-in 0.5s; 
}
/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }   
}
.hide + label:before {
    background-color: #1e90ff;
    color: #fff;
    content: "\002B";
    display: block;
    float: left;
    font-size: 14px; 
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.hide:checked + label:before {
    content: "\2212";
}

.do-blue{
  background-color: #D9EDF7;
}
.bold{
  font-weight: bold;
}

.success-removing, .success-updating{
  background-color: rgba(7, 241, 81, 0.71);
  opacity: 0.8;
}

.modal-dialog.in{
  padding-right: 17px;
  position: fixed;
  right: 0;
  left: 0;
  top: 50%;
  bottom: 0;
  margin: auto;
  z-index: 9999;      
  transform: translateY(-50%);
}

.modal-dialog.in .modal-content{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 600px;
}

.modal-dialog.in .modal-body{
  overflow: hidden;
}
.modal-dialog.in   .glyphicon {
  color:#ffffff;
}
table .glyphicon {
  color:#ffffff;
}

.modal-dialog.in .modal-body form div input{
  margin-bottom: 10px;
}
.modal-dialog.in .modal-body form div .error{
 color: #E14747;
}
/*Cтили формы ввода данных edit_locations*/

#edit_form_editlocations
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    height:auto;
    width: 100%;
    margin: 0px 1px;
    padding: 3px;
   overflow:hidden;
    top: 50%;
    left: 50%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          1px 1px   0 rgba(0,   0,   0,   .1),
          3px 3px   0 rgba(255, 255, 255, 1),
          4px 4px   0 rgba(0,   0,   0,   .1),
          6px 6px   0 rgba(255, 255, 255, 1),  
          7px 7px   0 rgba(0,   0,   0,   .1);
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

#edit_form_editlocations h1{
  text-align: center;
  text-transform: none;
}



#edit_form_editlocations_inputs
{
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 34%;
    width: 353px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    float:left;
}



#edit_form_editlocations_inputs:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
#edit_form_editlocations_submit
{
    margin: 0px 0 0 11px;
}

#edit_form_editlocations_submit
{   
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    
    height: 52px;
    padding: 0;
    width: 172px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
    float:left;
}

#edit_form_editlocations_submit:hover,#edit_form_editlocations_submit:focus
{   
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
} 

#edit_form_editlocations_submit:active
{   
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}

#edit_form_editlocations_submit::-moz-focus-inner
{
  border: none;
}



/* Конец*Cтили формы ввода данных edit_lications*/


#editlocations_table th{
  background-color: #FFAEA0;
}


#editlocations_table td{
  text-align: center;
 
}

#editlocations_table{
 margin-top: 5px;
}


#notfound {
  border: none;
  margin: 0 25%;
}

/*----------Стили поля ввода постов-------------------*/
#edit_form_editposts
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    min-height:165px;
    width: 100%;
    margin: 0 1px;
    padding: 3px;
   overflow:hidden;
    top: 50%;
    left: 50%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          1px 1px   0 rgba(0,   0,   0,   .1),
          3px 3px   0 rgba(255, 255, 255, 1),
          4px 4px   0 rgba(0,   0,   0,   .1),
          6px 6px   0 rgba(255, 255, 255, 1),  
          7px 7px   0 rgba(0,   0,   0,   .1);
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

#edit_form_editposts h1{
  text-align: center;
  text-transform: none;
}

.tableposts{
  margin-bottom: 15px;
}

.edit_form_editposts_inputs
{
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 1%;
    width: 300px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
   
}



.edit_form_editposts_inputs:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*---------Стиль формы ввода постов начало-----------*/
#edit_form_editposts_submit
{
    margin: 0px 0 0 11px;
}

#edit_form_editposts_submit
{   
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    
    height: 52px;
    padding: 0;
    width: 172px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
    float:left;
}
.edit_form_editposts_block_text_input{
  float:left;
  margin-left: 5px;
}
.edit_form_editposts_block_text_input label{
  display: block;
  color:#FF0400;
  padding-left: 25px;
  font-weight: bold;
 

}
.edit_form_editposts_inputs.error{
  
  border:1px solid #D9534F;

  box-shadow: 0 0 2px #D9534F;
}
select.error{
  border:10px solid #D9534F#D9534F;

  box-shadow: 0 0 4px #D9534F;
}

#edit_form_editposts_submit:hover,#edit_form_editposts_submit:focus
{   
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
} 

#edit_form_editposts_submit:active
{   
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}

#edit_form_editposts_submit::-moz-focus-inner
{
  border: none;
}

.edit_form_editposts_select_location{
  float:left;
}

#edit_form_editposts_inputblock{
  margin-left: 5.4%;
}


/*----------Стили поля ввода направлений-------------------*/
#edit_form_editdirections
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    min-height:165px;
    width: 100%;
    margin: 0 1px;
    padding: 3px;
   overflow:hidden;
    top: 50%;
    left: 50%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          1px 1px   0 rgba(0,   0,   0,   .1),
          3px 3px   0 rgba(255, 255, 255, 1),
          4px 4px   0 rgba(0,   0,   0,   .1),
          6px 6px   0 rgba(255, 255, 255, 1),  
          7px 7px   0 rgba(0,   0,   0,   .1);
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

#edit_form_editdirections h1{
  text-align: center;
  text-transform: none;
}

.tableposts{
  margin-bottom: 15px;
}

.edit_form_editdirections_inputs
{
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 1%;
    width: 317px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
   
}



.edit_form_editdirections_inputs:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*---------Стиль формы ввода постов начало-----------*/
#edit_form_editdirections_submit
{
    margin: 0px 0 0 11px;
}

#edit_form_editdirections_submit
{   
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    
    height: 52px;
    padding: 0;
    width: 190px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
    float:left;
}
.edit_form_editdirections_block_text_input{
  float:left;
  margin-left: 5px;
}
.edit_form_editdirections_block_text_input label{
  display: block;
  color:#FF0400;
  padding-left: 25px;
  font-weight: bold;
 

}
.edit_form_editdirections_inputs.error{
  
  border:1px solid #D9534F;

  box-shadow: 0 0 2px #D9534F;
}
select.error{
  border:10px solid #D9534F#D9534F;

  box-shadow: 0 0 4px #D9534F;
}

#edit_form_editdirections_submit:hover,#edit_form_editdirections_submit:focus
{   
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
} 

#edit_form_editdirections_submit:active
{   
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}

#edit_form_editdirections_submit::-moz-focus-inner
{
  border: none;
}

.edit_form_editdirections_select_location{
  float:left;
}

#edit_form_editdirections_inputblock{
  margin-left: 5.4%;
}



/* Стили select начало */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #F1F1F1;
  background-image: none;
}

.select {
  position: relative;
  display: block;
  width: 20em;
  height: 52px;
  line-height: 3;
  background: #F1F1F1;
  
  border:2px solid #FED164 ;
  border-radius: .25em;
  float:left;
  margin-right: 10px;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #000000;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #FED164;
  pointer-events: none;
}

.select:hover::after {
  color: #9AB999;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
select option{
  font-size: 17px;
}
select option:hover{
  color:#FFBF51;
}

.tabs .nav-tabs .active span{
  background-color: #0D8FDB;
  position: relative;
  margin-left: 4px;
  
}

.tabs .nav-tabs  span{
  background-color: #B8B8B8;
  position: relative;
  margin-left: 4px;
  
}
/* Стили select начало конец */ 
/*=====================content end========================================*/


/*=====================footer begin========================================*/
footer .container p#copyright{
  margin-top: 10px;
  
  margin-bottom: 10px;
  text-align:center;
  
}
/*=====================footer end========================================*/