/*font-family: 'Open Sans', sans-serif;*/
body{
	background:#ececec;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color:#000000;
	min-width: 320px;
}
img{
	max-width: 100%;
	height: auto;
}

h3{
	font-size: 24px;
	font-weight: 700;
	
}

.btn-red{
	background-color:#d51e08;
	color:#ffffff;
}

.btn-red:hover{
	background-color:#ec4835;
	color:#ffffff;
}

/*============================header=============================*/
.menu-top .navbar{
	margin-bottom: 0;
	background-color: #fff;
	padding: 20px 0;
	text-transform: uppercase;
	font-size: 14px;
}

.navbar-default .navbar-nav > li >a{
	color:#000000;
	padding-bottom: 5px;
	padding-top: 5px;
	transition: background .3s;
}

.menu-top .navbar-default .navbar-nav > li >a:hover{
	text-decoration: underline;
}

.menu-top .navbar-default .navbar-nav > li >a.btn-red{
	color:#ffffff;
	border-radius: 3px;
	padding: 5px 20px;
}

.menu-top .navbar-default .navbar-nav > li >a.btn-red:hover{
	background-color:#ec4835;
	color:#ffffff;
	text-decoration: none;
}
.menu-top .navbar-default .navbar-nav > li >a> .glyphicon{
	margin-right: 10px;
}

.menu-top .container, .menu-top .navbar-collapse{
	padding-left: 0;
}

.flag{
	margin-right: 5px;
	position: relative;
	top:-1px; 
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.menu-top .navbar-default .navbar-nav > li >a:hover{
	background: #eee;
}
.menu-top .container, .menu-top .navbar-collapse{
	padding-left: 15px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}